@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Outfit&family=Rubik&display=swap');

$article-header-font:'Rubik', Arial, Helvetica, sans-serif;
$maintext-font:'Outfit', Arial, Helvetica, sans-serif;

body{
    margin:0px;
    padding:0px;
    background-color: rgb(247, 247, 247);
    min-height:100vh;
    width:100%;
}

.header-background{
    display:flex;
    background-color:rgb(55, 63, 167);
    height:55px;
    width:100%;
}

.menu-bar-container{
    display:none;
    background-color:rgb(200, 203, 245);
    width:100%;
}

.menu-bar{
    display:inline-block;
    list-style-type: none;
    box-sizing: border-box;
    margin:0px;
}

.menu-bar > li{
    display: inline-block;
    padding:5px 10px;
    font-size: 1.2em;
}

.menu-bar > li a{
    text-decoration: none;
    color:black;
}

.menu-bar > li:hover{
    background-color: rgb(232, 233, 250);;
}



h1{
    text-align: center;
    font-family: 'Frank Ruhl Libre', Georgia, "Times New Roman", serif;
    color: white;
    font-size: 1.5em;
    margin:12px 30px;
}

.containerInfo{
    min-height: 600px;
    width:100%;
}

article{
    padding:20px 5px;
    box-sizing: border-box;
}

p.normalText{
    font-family: $maintext-font;
    font-size: 0.9em;
}

h2.articleHeading{
    font-size: 1.4em;
    font-family: $article-header-font;
    text-align: center;
}

.wrapperRoundedBox{
    min-height: 200px;
    background-color: white;
    padding:15px 25px;
    border-radius: 15px;
    box-sizing: border-box;
}

.nav-menu{
    position:relative;
    display: inline-block;
}

.nav-menu-content{
    display:none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    padding:2px 8px;
    min-width: 100px;
    z-index: 1;
}

.nav-menu-content > *{
    margin:14px 0;
}

.nav-menu:hover .nav-menu-content{
    display: block;
}

//---------------------------------- LAYOUTS--------------------------------------

.two-column{
    display:flow-root;
    .column{
        border:1px solid black;
        float:left;
        width:100%;
        box-sizing: border-box;
    }

    .column-60{
        border:1px solid black;
        float:left;
        width:100%;
        box-sizing: border-box;
    }
    .column-40{
        border:1px solid black;
        float:left;
        width:100%;
        box-sizing: border-box;
    }

}

.center-layout{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.flex-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

// .flex-container > *{
//     border: 1px solid red;
//     box-sizing: border-box;
// }

.image-wrapper{
    width:100%;
}

.light-green{
    background-color:rgb(216, 252, 216);
}

.light-pink{
    background-color: rgb(255, 199, 208);
}

.white{
    background-color: white;
}

@media screen and (min-width:768px){

    .nav-menu{
        display:none;
    }

    .menu-bar-container{
        display:inline-block;
    }

    .two-column{
        .column{
            width:50%;
            border: 1px dashed black;
        }
        .column-60{
            border:1px dashed black;
            width:60%;
        }
        .column-40{
            border:1px dashed black;
            width:40%;
        }
    }

    .flex-container{
        flex-direction: row;
        justify-content: space-between;
        .flex-item-imageWrapper{
            max-width:600px;
        }
        .flex-item{
            width:auto;
        }
        .flex-item-800px{
            width: 60%;
        }
    }

    .center-layout{
        width:70%;
    }
}

footer{
    background-color: rgb(50, 49, 53);
    min-height: 200px;
    width:100%;
}