@import url('https://fonts.googleapis.com/css2?family=Outfit&family=PT+Serif&family=Rubik&display=swap');

$article-header-font:'Rubik', Arial, Helvetica, sans-serif;
$maintext-font:'Outfit', Arial, Helvetica, sans-serif;
$codeSnipperText:'Courier New', "Lucida Console", monospace;
$menuBackgroundColour:rgb(80, 90, 238);


@mixin menu-list-items(){
    li{
        padding:15px 10px;
        font-size: 1.3em;
        a{
            text-decoration: none;
            color:white;
            font-family: $maintext-font;
        }
    } 
}

body{
    margin:0px;
    padding:0px;
    background-color: rgb(247, 247, 247);
    min-height:100vh;
    width:100%;
}

.header-background{
    display:flex;
    align-items: center;
    background-color:rgb(43, 51, 158);
    height:auto;
    width:100%;
}

//menu bar mobile version
.nav-menu{
    position:relative;
    display:inline-block;
    &:hover{
        .nav-menu-content{
            display: block;
        } 
    }
}
.nav-menu-content{
    display:none;
    position: absolute;
    background-color: $menuBackgroundColour;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    margin:0px;
    padding:2px 8px;
    min-width: 100px;
    z-index: 1;
    @include menu-list-items()
}

// menu bar desktop version
.menu-bar-container{
    display:none;
    width:100%;
    height:auto;
    background-color: $menuBackgroundColour;
    justify-content: center;
    .menu-bar{
        display:inline-block;
        list-style-type: none;
        margin:0px;
        @include menu-list-items();
        li{
            display: inline-block;
            padding:10px 30px;
            &:hover{
                background-color: rgb(232, 233, 250);
                a{
                    color:black;
                }
            }
        }
    }
}

h1{
    text-align: center;
    font-family: 'Frank Ruhl Libre', Georgia, "Times New Roman", serif;
    color: white;
    font-size: 1.8em;
    margin:12px 10%;
}

.header-paragraph{
    display:none;
    color:white;
    font-size: 1.2em;
    margin-left:10%;
    font-style: italic;
}

.containerInfo{
    width:100%;
}

article.articleSection{
    padding:20px 5px;
    box-sizing: border-box;
    font-family: $maintext-font;
    font-size: 1.1em;
    h2{
        font-size: 2.1em;
        font-family: $article-header-font;
    }
    h2,h3{
        text-align: center;
    }
}

.align-text{
    text-align: center;
}

.wrapperRoundedBox{
    min-height: 200px;
    background-color: white;
    padding:15px 25px;
    border-radius: 15px;
    box-sizing: border-box;
}

.link-container{
    line-height: 1.2em;
    margin:30px 0px;
    p{
        margin:0px;
    }
}

//---------------------------------- LAYOUTS--------------------------------------

.center-layout{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.flex-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

// .flex-container > *{
//     border: 1px solid red;
//     box-sizing: border-box;
// }

.image-wrapper{
    width:80%;
    margin-left:10%;
    margin-right:10%;
}

.light-green{
    background-color:rgb(216, 252, 216);
}

.light-pink{
    background-color: rgb(253, 212, 237);
}

.white{
    background-color: white;
}

.light-grey{
    background-color: rgb(233, 233, 233);
}

.light-blue{
    background-color: rgb(186, 248, 250);
}

.code-text{
    font-family: $codeSnipperText;
}

.codeDemo-container{
    border-radius: 12px;
    background-color: rgb(230, 230, 230);
    padding:6px;
    min-height:100px;
    font-family: $codeSnipperText;
}

@media screen and (min-width:768px){

    .header-paragraph{
        display:inline-block;
    }

    .nav-menu{
        display:none;
    }

    .menu-bar-container{
        display:flex;
    }

    .image-wrapper{
        width:100%;
        margin-left:0%;
        margin-right:0%;
    }

    .two-column{
        .column{
            width:50%;
            border: 1px dashed black;
        }
        .column-60{
            border:1px dashed black;
            width:60%;
        }
        .column-40{
            border:1px dashed black;
            width:40%;
        }
    }

    .flex-container{
        flex-direction: row;
        justify-content: center;
        .flex-item-imageWrapper{
            display:flex;
            width:400px;
            min-width:300px;
            align-items: center;
        }
        .flex-item{
            width:auto;
        }
        .flex-item-60{
            width:auto;
            max-width: 60%;
        }
    }

    .codeDemo-container{
        margin:5px 35px;
        padding:12px;
    }

    .center-layout{
        max-width:900px;
    }

    article.articleSection{
        font-size: 1.4em;
    }
}

footer{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(50, 49, 53);
    min-height: 200px;
    width:100%;
    div.footer-col{
        margin-left:50px;
        margin-right:50px;
        color:white;
        font-family: $maintext-font;
        a{
            color:white;
            text-decoration: none;
        }
    }
}